.button {
  border: 1px solid var(--black);
  text-transform: uppercase;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: var(--secondary);
    color: var(--white);
  }

  &:focus {
    outline-color: var(--secondary);
  }

  &--cart {
    outline: #000 solid 1px;

    &:hover {
      color: #fff;
      background-color: var(--secondary);
      border-color: var(--secondary);
      outline: var(--secondary) solid 1px;
    }
  }

  &--add-to-cart {
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
    background-color: var(--primary);
    border: none;
    border-radius: 16px 0 0 0;
  }


}