

.shopping-cart__button {
    min-width: 200px;
    color: var(--black);
    background-color: var(--white);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--black);
    cursor: pointer;

    &:hover {
        background-color: var(--secondary);
        border-color: var(--secondary);

        .shopping-cart__icon,
        .shopping-cart__text {
            filter: brightness(1) invert(100%);
        }
    }
}

.shopping-cart__icon {
    width: 16px;
    height: 16px;
    margin-right: 16px;
}

.shopping-cart__text {
    font-size: 16px;
}