:root {
--primary:#rgba(249, 228, 148, 0.5);
--secondary:rgb(239, 121, 152);
--white: #fff;
--black: #000;
}



@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kaushan Script', cursive;
}

body {
  color: var(--black);
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:  var(--primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}